@keyframes pop {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

/* Card */

.crd-header {
    margin-top: 18px;
    margin-left: 16px;
    margin-bottom: 22px;
    font-size: 24px;
    font-weight: 600;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.card-body-center {
    justify-content: center;
    align-items: center;
}

/* Button */

.margin-bot {
    margin-bottom: 12px;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #333333;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 300ms;
}

.button-calc {
    color: rgb(255, 255, 255);
    width: 83.5%;
    border: none;
    padding: 11px 0;
    margin-right: 6px;
    background-color:rgb(255, 122, 56);
    transition: background-color 300ms;
}

.button-calc:hover {
    background-color:rgb(255, 149, 97)
}

.button-calc:disabled {
    background-color: #cccccc;
    color: #999999; 
    cursor: not-allowed;  
}

.button-clear {
    width: 15%;
    border-width: thin;
    border-color: blueviolet;
    padding: 10px 0;
    background-color:rgb(255, 255, 255);
    transition: background-color 300ms;
}

.button-clear:hover {
    background-color:rgba(0, 0, 0 ,0.1)
}

/* Form */

.content-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    height: 35px;
    padding: 4px 12px;
    outline: none;
}

input[type="text"]:focus {
    border-color: rgb(0, 115, 255);
}

.form-label,
.form-select,
.form-control {
    margin-bottom: 16px;
}



#marker {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px; /* Marker width */
    background-color: #000; /* Marker color */
    transform: translateX(-50%);
}
.mt-4 {
    font-size: 24px;
}