@keyframes pop {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}

/* Card */

.crd-header {
    margin-top: 18px;
    margin-left: 16px;
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 600;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 380px;
}

.card-body-center {
    justify-content: center;
    align-items: center;
}

/* Button */

.margin-bot {
    margin-bottom: 12px;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #333333;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 300ms;
}

.button-calc {
    color: rgb(255, 255, 255);
    width: 83.5%;
    border: none;
    padding: 11px 0;
    margin-right: 6px;
    background-color:rgb(255, 122, 56);
    transition: background-color 300ms;
}

.button-calc:hover {
    background-color:rgb(255, 149, 97)
}

.button-calc:disabled {
    background-color: #cccccc;
    color: #999999; 
    cursor: not-allowed;  
}

.button-clear {
    width: 15%;
    border-width: thin;
    border-color: blueviolet;
    padding: 10px 0;
    background-color:rgb(255, 255, 255);
    transition: background-color 300ms;
}

.button-clear:hover {
    background-color:rgba(0, 0, 0 ,0.1)
}

/* Form */

.content-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    height: 35px;
    padding: 4px 12px;
    outline: none;
}

input[type="text"]:focus {
    border-color: rgb(0, 115, 255);
}

.form-label,
.form-select,
.form-control {
    margin-bottom: 16px;
}

/* Bar */

#bodyFatBar {
    display: none;
    justify-content: center;
    position: relative;
    width: auto;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
    animation: pop 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.barSegment {
    flex: 1;
    transition: background-color 0.5s;
}

.underweight {
    flex: 46;
    background-color: #3498db; /* Blue shade */
}

.healthy {
    flex: 23;
    background-color: #2ecc71; /* Green shade */
}

.overweight {
    flex: 11;
    background-color: #f39c12; /* Orange shade */
}

.obese {
    flex: 20;
    background-color: #e74c3c; /* Red shade */
}

#marker {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px; /* Marker width */
    background-color: #000; /* Marker color */
    transform: translateX(-50%);
}

/* Display Picture */